{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.Params.avatar }}" alt="Personal avatar">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a software engineer.</h3>
        <h3>{{ .Site.Params.shortBio }}.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
